/* Список подсказок */

/* Выпадающий список подсказок */
.suggestions-wrapper .suggestions-suggestions {
    border: 1px solid #b3b9cb;
}
    .suggestions-wrapper .suggestions-suggestion-region {
        color: #999;
    }
    /* Разные стили для четных-нечетных элементов списка */
    .suggestions-wrapper .suggestions-suggestion:nth-child(even) {
        background: #f5f5f5;
    }
    /* Выделенный элемент списка */
    .suggestions-wrapper .suggestions-selected,
    .suggestions-wrapper .suggestions-suggestion:nth-child(even).suggestions-selected {
        background: #ccc;
    }
    /* Подсветка совпадения в результатах поиска */
    .suggestions-wrapper .suggestions-suggestion strong {
        color: #3399FF;
        font-weight: normal;
    }

/* Блок полей, которые автоматически заполняются из подсказок */
.suggestion {
    padding-left: 10px;
}
    .suggestion .suggestion-item {
        margin-bottom: 10px;
    }
    .suggestion-item label {
        color: #999;
        font-weight: normal;
        padding-top: 7px;
    }
    input.suggestion-editable {
        border: none;
        border-bottom: 1px dotted #ccc;
        border-radius: 0;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
    }
    input.suggestion-editable[readonly] {
        background-color: inherit;
        cursor: default;
    }
    input.suggestion-editable:focus {
        border-color: #ccc;
        box-shadow: none;
    }

/* Маркер для обязательных полей */
.required {
    color: #9a4f4f;
    font-size: 16px;
    vertical-align: super;
}
